<div class="modal-header">
    <h5 class="modal-title">Edit Item</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form action="/budgetItem/<%= budgetItem._id %>?_method=PUT" method="post">
        <div class="form-group">
            Item Label: <input class='form-control' type='text' name='itemLabel' value='<%= budgetItem.itemLabel %>'>
        </div>
                <div class='form-group'>
                    Type:
                    <select class='form-control' name="type">
                        <option value="<%= budgetItem.type %>" disabled selected><%= budgetItem.type %></option>
                        <option value="Income">Income</option>
                        <option value="Expense">Expense</option>
                    </select>
                </div>                   
                <div class='form-group'>
                    Expense Category:
                    <select class='form-control' name="category">
                        <option value="<%= budgetItem.category %>" disabled selected><%= budgetItem.category %></option>
                        <option value="Utility">Utility</option>
                        <option value="Auto">Auto</option>
                    </select>
                </div>        
                <div class='form-group'>
                    Planned: <input class='form-control' type='number' name='planned' value='<%= budgetItem.planned %>' min='0.00' step='0.01'>
                </div>
                <div class='form-group'>
                    Actual: <input class='form-control' type='number' name='actual' value='<%= budgetItem.actual %>' min='0.00' step='0.01'>
                </div>
                <div class='form-group'>
                    Due Date (Day of the month): <input class='form-control' type='text' name='dueDate' value='<%= budgetItem.dueDate %>'>    
                </div>           
                <div class='form-group'>
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
                    <a href='#' class='btn btn-lg bt-warning btn-block' data-dismiss="modal">Go Back</a>
                </div>
            </form>
</div>