<% include ./partials/header %>

<div class='container'>
    <div class='container col-lg-8 col-md-12'>
<!--INCOME TABLE -->
        <h3>Income</h3>
        <hr>
        <div class="panel panel-default panel-success">
            <div class="panel-heading"><strong>Planned Monthly Income</strong>
            <a href="/budgetItem/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <table class='table' id='income'>
                    <thead>
                        <tr>
                            <th>Item Label</th>
                            <th class='dollarAmount'>Planned</th>
                            <th class='dollarAmount'>Actual</th>
                            <th class='dollarAmount'>Variance</th>
                            <th class='actions'>Edit</th>
                            <th class='actions'>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% budgetItem.forEach(function(budgetItem){ %>
                            <% if(budgetItem.type === 'Income' && currentUser.username === budgetItem.author.username){ %>
                        <tr>
                                <td class='itemLabelIncome'><%= budgetItem.itemLabel %></td>
                                <td class='dollarAmount'>$<span class='plannedIncomeTotal'><%= budgetItem.planned.toFixed(2); %></span></td>
                                <td class='dollarAmount'>$<span class='actualIncomeTotal'><%= budgetItem.actual.toFixed(2); %></span></td>
                                <% var variance = budgetItem.actual.toFixed(2) - budgetItem.planned.toFixed(2) %>
                                <td class='dollarAmount'><span class ='a'><%= variance.toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %></span></td>
                                <td class='actions'><a href="/budgetItem/<%= budgetItem._id %>/edit" class='btn btn-primary btn-xs' id='hiddenButton' data-toggle="modal" data-target="#editItem"><i class="fa fa-pencil" aria-hidden="true" ></i></a></td>
                                <td class='actions'>  
                                    <form action="/budgetItem/<%= budgetItem._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class='btn btn-primary btn-xs' id='hiddenButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
        </div>
        <h3>Expense</h3>
        <hr>
<!-- FIXED EXPENSE TABLE -->        
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Fixed Expense</strong>
                <a href="/budgetItem/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <table class="table" id='FixedExpense'>
                    <thead>
                            <th onclick='sortTable(0)'>Due Date</th>
                            <th>Item Label</th>
                            <th class='dollarAmount'>Planned</th>
                            <th class='dollarAmount'>Actual</th>
                            <th class='dollarAmount'>Variance</th>
                            <th class='actions'>Edit</th>
                            <th class='actions'>Delete</th>
                    </thead>
                    <tbody>
                        <% budgetItem.forEach(function(budgetItem){ %>
                            <% if(budgetItem.type === 'Expense' && budgetItem.category === 'Fixed' && currentUser.username === budgetItem.author.username){ %>
                        <tr>
                                <td><%= budgetItem.dueDate %></td>
                                <td class='itemLabel'><%= budgetItem.itemLabel %></td>
                                <td class='dollarAmount'>$<span class='plannedExpenseTotal'><%= budgetItem.planned.toFixed(2) %></span></td>
                                <td class='dollarAmount'>$<span class='actualExpenseTotal'><%= budgetItem.actual.toFixed(2) %></span></td>
                                <% var variance = budgetItem.actual.toFixed(2) - budgetItem.planned.toFixed(2) %>
                                <td class='dollarAmount'><span class='a'><%= variance.toLocaleString('en-US', { style: 'currency', currency: 'USD' }).replace('$',' $'); %></td>
                                <td class='actions'><a href="/budgetItem/<%= budgetItem._id %>/edit" class='btn btn-primary btn-xs' id='hiddenButton' data-toggle="modal" data-target="#editItem"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class='actions'>  
                                    <form action="/budgetItem/<%= budgetItem._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class='btn btn-primary btn-xs' id='hiddenButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
            </div>
<!-- VARIABLE EXPENSE TABLE -->
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Variable Expense</strong>
                <a href="/budgetItem/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <table class="table" id='VariableExpense'>
                    <thead>
                            <th onclick='sortTable(0)'>Due Date</th>
                            <th>Item Label</th>
                            <th class='dollarAmount'>Planned</th>
                            <th class='dollarAmount'>Actual</th>
                            <th class='dollarAmount'>Variance</th>
                            <th class='actions'>Edit</th>
                            <th class='actions'>Delete</th>
                    </thead>
                    <tbody>
                        <% budgetItem.forEach(function(budgetItem){ %>
                            <% if(budgetItem.type === 'Expense' && budgetItem.category === 'Variable'  && currentUser.username === budgetItem.author.username){ %>
                        <tr>
                                <td><%= budgetItem.dueDate %></td>
                                <td class='itemLabel'><%= budgetItem.itemLabel %></td>
                                <td class='dollarAmount'>$<span class='plannedExpenseTotal'><%= budgetItem.planned.toFixed(2) %></span></td>
                                <td class='dollarAmount'>$<span class='actualExpenseTotal'><%= budgetItem.actual.toFixed(2) %></span></td>
                                <% var variance = budgetItem.actual.toFixed(2) - budgetItem.planned.toFixed(2) %>
                                <td class='dollarAmount'><span class='a'><%= variance.toLocaleString('en-US', { style: 'currency', currency: 'USD' }).replace('$',' $'); %></td>
                                <td class='actions'><a href="/budgetItem/<%= budgetItem._id %>/edit" class='btn btn-primary btn-xs' id='hiddenButton' data-toggle="modal" data-target="#editItem"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class='actions'>  
                                    <form action="/budgetItem/<%= budgetItem._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class='btn btn-primary btn-xs' id='hiddenButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
            </div>
<!-- DEBT TABLE -->
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Debt</strong>
               <a href="/budgetItem/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <table class="table" id='Debt'>
                    <thead>
                            <th onclick='sortTable(0)'>Due Date</th>
                            <th>Item Label</th>
                            <th class='dollarAmount'>Planned</th>
                            <th class='dollarAmount'>Actual</th>
                            <th class='dollarAmount'>Variance</th>
                            <th class='actions'>Edit</th>
                            <th class='actions'>Delete</th>
                    </thead>
                    <tbody>
                        <% budgetItem.forEach(function(budgetItem){ %>
                            <% if(budgetItem.type === 'Expense' && budgetItem.category === 'Debt' && currentUser.username === budgetItem.author.username){ %>
                        <tr>
                                <td><%= budgetItem.dueDate %></td>
                                <td class='itemLabel'><%= budgetItem.itemLabel %></td>
                                <td class='dollarAmount'>$<span class='plannedExpenseTotal'><%= budgetItem.planned.toFixed(2) %></span></td>
                                <td class='dollarAmount'>$<span class='actualExpenseTotal'><%= budgetItem.actual.toFixed(2) %></span></td>
                                <% var variance = budgetItem.actual.toFixed(2) - budgetItem.planned.toFixed(2) %>
                                <td class='dollarAmount'><span class='a'><%= variance.toLocaleString('en-US', { style: 'currency', currency: 'USD' }).replace('$',' $'); %></td>
                                <td class='actions'><a href="/budgetItem/<%= budgetItem._id %>/edit" class='btn btn-primary btn-xs' id='hiddenButton' data-toggle="modal" data-target="#editItem"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class='actions'>  
                                    <form action="/budgetItem/<%= budgetItem._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class='btn btn-primary btn-xs' id='hiddenButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
            </div>
<!-- OTHER EXPENSE TABLE -->
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Other Expense</strong>
                <a href="/budgetItem/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                <table class="table" id='OtherExpense'>
                    <thead>
                            <th onclick='sortTable(0)'>Due Date</th>
                            <th>Item Label</th>
                            <th class='dollarAmount'>Planned</th>
                            <th class='dollarAmount'>Actual</th>
                            <th class='dollarAmount'>Variance</th>
                            <th class='actions'>Edit</th>
                            <th class='actions'>Delete</th>
                    </thead>
                    <tbody>
                        <% budgetItem.forEach(function(budgetItem){ %>
                            <% if(budgetItem.type === 'Expense' && budgetItem.category === 'Other' && currentUser.username === budgetItem.author.username){ %>
                        <tr>
                                <td><%= budgetItem.dueDate %></td>
                                <td class='itemLabel'><%= budgetItem.itemLabel %></td>
                                <td class='dollarAmount'>$<span class='plannedExpenseTotal'><%= budgetItem.planned.toFixed(2) %></span></td>
                                <td class='dollarAmount'>$<span class='actualExpenseTotal'><%= budgetItem.actual.toFixed(2) %></span></td>
                                <% var variance = budgetItem.actual.toFixed(2) - budgetItem.planned.toFixed(2) %>
                                <td class='dollarAmount'><span class='a'><%= variance.toLocaleString('en-US', { style: 'currency', currency: 'USD' }).replace('$',' $'); %></td>
                                <td class='actions'><a href="/budgetItem/<%= budgetItem._id %>/edit" class='btn btn-primary btn-xs' id='hiddenButton' data-toggle="modal" data-target="#editItem"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                <td class='actions'>  
                                    <form action="/budgetItem/<%= budgetItem._id %>?_method=DELETE" method="POST" class="delete-form">
                                        <button class='btn btn-primary btn-xs' id='hiddenButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            <% } %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
<!-- TOTALS TABLE -->
    <div class='container col-lg-4 col-xs-12'>
        <h3>Totals</h3>
        <hr>
        <div class="panel panel-default panel-default">
            <div class="panel-heading"><strong>Totals</strong></div>
                <table class='table'>
                    <thead>
                        <th></th>
                        <th class='dollarAmount'>Planned</th>
                        <th class='dollarAmount'>Actual</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Income:</td>
                            <td class='dollarAmount'><span id='totalPlannedIncome'>0.00</span></td>
                            <td class='dollarAmount'><span id='totalActualIncome'>0.00</span></td>
                        </tr>
                        <tr>
                            <td>Expense:</td>
                            <td class='dollarAmount'><span id='totalPlannedExpense'>0.00</span></td>
                            <td class='dollarAmount'><span id='totalActualExpense'>0.00</span></td>
                        </tr>
                        <tr>
                            <td>Variance:</td>
                            <td class='dollarAmount'><span id='totalPlannedVariance'>0.00</span></td>
                            <td class='dollarAmount'><span id='totalActualVariance'>0.00</span></td>
                        </tr>
                    </tbody>
                </table>  
        </div>
    </div>
</div>

</div>

<!--NEW MODAL-->

<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>

<script type="text/javascript" src='/js/budget.js'></script>

<% include ./partials/footer %>