<% include ./partials/header %>

<div class='container'>
        <h1 id='welcome'>Paycheck Allocator</h1>
        <div id='description'>The Paycheck Allocator is used to track monthly expenses and how much money you will have left over after each paycheck.
        Add all of your expenses to the list and then enter the paycheck amount into the Bank Account Balance field.</div>
    <p></p>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-lg-3 col-md-12'>
            <form>
                <h4>Bank Account Balance:</h4><input class='form-control' type='number' id="balance" name='balance' value='0.00' min='0.00' step='0.01'>
            </form>
        </div>
        <div class="btn-group pull-right" role="group" id='group' aria-label="...">
            <button type="button" id='one' class="btn btn-primary btn-sm">1st Half</button>
            <button type="button" id='full' class="btn btn-primary btn-sm">Full Month</button>
            <button type="button" id='two' class="btn btn-primary btn-sm">2nd Half</button>
        </div>
    </div>
</div>
<br>

<div class='container'>
    <div class='row'>
        <div class='col-lg-3 col-md-12'>
            <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Snapshot</strong></div>
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>Balance</td>
                                <td>$<span id='accountBalance'>0.00</span></td>
                            </tr>
                            <tr>
                                <td>Bills</td>
                                <td>$<span id="totalBill">0.00</span></td>
                            </tr>                          
                            <tr>
                                <td>Remaining</td>
                                <td><span id="remaining">0.00</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p>
            <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Totals By Type</strong></div>
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <% var totalCredit = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Credit Card"){ %>
                                        <% totalCredit = totalCredit + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td>Credit Card</td>
                                <td><span id='totalCredit'><%= totalCredit.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                            </tr>
                            <tr>
                                <% var totalSL = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Student Loan"){ %>
                                        <% totalSL = totalSL + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td>Student Loan</td>
                                <td><span id='totalSL'><%= totalSL.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                            </tr>
                            <tr>
                                <% var totalLoan = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Loan"){ %>
                                        <% totalLoan = totalLoan + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td>Loan</td>
                                <td><span id='totalLoan'><%= totalLoan.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                            </tr>
                            <tr>
                                <% var totalUtility = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Utility"){ %>
                                        <% totalUtility = totalUtility + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td>Utility</td>
                                <td><span id='totalUtility'><%= totalUtility.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                            </tr>                            <tr>
                                <% var totalOther = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Other"){ %>
                                        <% totalOther = totalOther + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td>Other</td>
                                <td><span id='totalOther'><%= totalOther.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id='BOA'><a href='http://www.bankofamerica.com' target="_blank" class="secondary-link"><img src="https://static.seekingalpha.com/uploads/2017/5/27/31557165-14959228416802626_origin.png" id="BOAimage"></a></div> 
            </div>
            
            <div class='col-lg-9 col-md-12'>
                <div class='chiclet'>
                    <div class="panel panel-default panel-danger">
                        <div class="panel-heading"><strong>Expenses</strong>
                        <a href="/bills/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                        </div>
                            <table class="table" id="bills">
                                <thead>
                                    <tr>
                                        <th onclick='sortTable(0)' id='due'>Due Date</th>
                                        <th id='payee'>Payee</th>
                                        <th id='amount'>Amount Due</th>
                                        <th id='auto'>Auto Pay</th>
                                        <th id='billWebsite'>Website</th>
                                        <th id='statusdd'>Status</th>
                                        <th id='trash'></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
                                            <td id='due'><%= bill.dueDate %></td>
                                            <td id='payee'><a href="/bills/<%= bill._id %>/edit"data-toggle="modal" data-target="#editItem"><%= bill.payee %></a></td>
                                            <td id='amount'><span class='a'><%= bill.amountDue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                                            <td id='auto'><%= bill.autoPay %></td>
                                            <td id='billWebsite'><a href="<%= bill.website %>" target="_blank" class="btn btn-primary btn-xs">Pay Bill</a></td>
                                            <td id='statusdd'>
                                                 <select class='form-control' id='status' name="status">
                                                    <option value="unpaid">Unpaid</option>
                                                    <option value="paid">Paid</option>
                                                    <option value="leave">Leave</option>
                                                    <option value="move">Move</option>
                                                    <option value="remove">Remove</option>
                                                </select>
                                            </td>
                                            <td><span id='delete'><form action="/bills/<%= bill._id %>?_method=DELETE" method="POST" class="delete-form">
                                               <button id='deleteButton'><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                                            </form></span>
                                            </td>
                                        <% } %>
                                    <% }) %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    


<!--NEW MODAL-->

<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>

<script type="text/javascript" src='/js/bills.js'></script>
<% include ./partials/footer %>