<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/dashboard.css">


<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>

<!-- CALCULATIONS -->
    <% var income = 0%>
        <% monthlyIncome.forEach(function(monthlyIncome){ %>
        <% if(currentUser.username === monthlyIncome.author.username){ %>
        <% income = income + monthlyIncome.amount %>
        <% } %>
        <% }) %>
    <% var balance = 0 %>
    <% accountBalance.forEach(function(accountBalance){ %>
        <% if(currentUser.username === accountBalance.author.username){ %>
        <% balance = balance + accountBalance.amount %>
        <% } %>
        <% }) %>
    <% var totalBills = 0 %>
    <% bills.forEach(function(bill){ %>
        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
        <% totalBills = totalBills + bill.amountDue %>
        <% } %>
        <% }) %>
    <% var totalDebts = 0 %>
    <% debt.forEach(function(debt){ %>
        <% if(currentUser.username === debt.author.username  || currentUser.username === debt.authUser){ %>
        <% totalDebts = totalDebts + debt.amount %>
        <% } %>
        <% }) %>
    <% IncomeExpenseOffset = income - totalBills %>    
    <% var variance = 0 %>
        <% var percentage = 0 %>
            <% startingDebt.forEach(function(startingDebt){ %>
            <% if(currentUser.username === startingDebt.author.username){ %>
                <% variance = startingDebt.amount - totalDebts %>
                <% percentage = (variance/startingDebt.amount * 100).toFixed(2) %>
            <% } %>
    <% }) %>
<!-- END CALCULATIONS -->

<div id='page-content'>

<!-- LEFT MENU -->
    <div class='col-lg-2'></div>
    <div id='menu'>
        <div class='header'>Tools</div>
        <a href='/dashboard' class='btn btn-primary btn-sm menu-button' id='dashboard'>Dashboard</a><br>
        <button class='btn btn-primary btn-sm menu-button' id='expense'>Expense Tracker</button><br>
        <button class='btn btn-primary btn-sm menu-button' id='debt-tracker'>Debt Tracker</button><br>
        <button class='btn btn-primary btn-sm menu-button' id='debt-snowball'>Debt Snowball</button><br>
        <!--<button class='btn btn-primary btn-sm menu-button' id='budget'>Budget</button><br>-->
    </div>
<!-- END LEFT MENU -->

<!-- END LEFT MENU -->
    <div class='col-lg-10' id='main-page-section'>
         <div class='header'>Welcome <%= currentUser.name %></div>

    <div id='main-level'>
            <div class='pull-right main-level-data' id='date'><span></span></div>
    </div>
<!-- DASHBOARD DATA -->
<div class='dashboard-data'>
    
    <div class='dashboard-card' id='drag' draggable="true" ondragstart="drag(event)">
        <div class='dashboard-card-number'>
            $<%= income.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
        <% monthlyIncome.forEach(function(monthlyIncome){ %>
            <a href='/monthlyIncome/<%= monthlyIncome._id %>/edit' class='link'>Total Monthly Income</a>
        <% }) %>
        </div>
    </div>

    <div class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= totalBills.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Monthly Expenses
        </div>
    </div>

    <div class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= IncomeExpenseOffset.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Difference
        </div>
    </div>

    <div class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= totalDebts.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Debt Remaining
        </div>
    </div>    

    <div class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= variance.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Paid Off
        </div>
    </div>    

    <div class='dashboard-card'>
        <div class='dashboard-card-number'>
            <%= percentage %>%
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            % Paid Off
        </div>
    </div>
</div>
<!-- END DASHBOARD DATA -->




<script src="/js/dashboard.js"></script>
