<% include ./partials/header.ejs %>

<style>
    @media screen and (max-width: 640px) {
        body {
        overflow-x: hidden;
        }
    }
</style>
<div id='paMobileHeader'>
<div class='container'>
        <h3 id='welcome'></h3>
        <div class='pull-right' id='date'></div>
        <h1><%= currentUser.name %>'s Dashboard</h1>
        <hr>
</div>
</div>
<script>
        
//DATE

var d = new Date();
document.getElementById("date").innerHTML = d.toDateString();

</script>

<div class='container dashboard-table'>
    <div class='row'>
        <div class='col-lg-4 col-sm-12' id='mobile-card'>
            <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Monthly Bills</strong></div>
                        <table class="table">
                            <tr>
                                <td>Monthly Bills</td>
                                <% var totalBills = 0 %>
                                    <% bills.forEach(function(bill){ %>
                                        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
                                        <% totalBills = totalBills + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td class='td-right'><span id='dollarSign'>$</span><div class='table-number'><%= totalBills.toFixed(2) %></div></td>
                            </tr>
                        </table>
                    </div><p></p>
            <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Bills By Type</strong></div>
                        <table class="table">
                            <tr>
                                <% var totalCredit = 0 %>
                                <% bills.forEach(function(bill){ %>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Credit Card"){ %>
                                        <% totalCredit = totalCredit + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='credit'>Credit Card</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalCredit'><%= totalCredit.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalSL = 0 %>
                                <% bills.forEach(function(bill){ %>
                                    
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Student Loan"){ %>
                                        <% totalSL = totalSL + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='studentLoan'>Student Loan</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalSL'><%= totalSL.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalLoan = 0 %>
                                <% bills.forEach(function(bill){ %>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Loan"){ %>
                                        <% totalLoan = totalLoan + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='loan'>Loan</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalLoan'><%= totalLoan.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalUtility = 0 %>
                                <% bills.forEach(function(bill){ %>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Utility"){ %>
                                        <% totalUtility = totalUtility + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='utility'>Utility</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalUtility'><%= totalUtility.toFixed(2) %></span></td>
                            </tr> 
                            <tr>
                                <% var totalOther = 0 %>
                                <% bills.forEach(function(bill){ %>
                                        <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Other"){ %>
                                        <% totalOther = totalOther + bill.amountDue %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='other'>Other</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalOther'><%= totalOther.toFixed(2) %></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                    </div>
                    </div>
                    <div class='col-lg-4 col-sm-12' id='mobile-card'>
                        <div class='chiclet'>
                            <div class="panel panel-default">
                                
                                <div class="panel-heading"><strong>Debt Snapshot</strong></div>
                                    <table class="table">
                                        <tr>
                                            <td>Debt Remaining</td>
                                            <% var totalDebts = 0 %>
                                                <% debt.forEach(function(debt){ %>
                                                    <% if(currentUser.username === debt.author.username  || currentUser.username === debt.authUser){ %>
                                                    <% totalDebts = totalDebts + debt.amount %>
                                                <% } %>
                                            <% }) %>
                                            <td class='td-right'><span id='dollarSign'>$</span><div class='table-number' id='totalDebt'><%= totalDebts.toFixed(2) %></div></td>
                                        </tr>
                                        <tr>
                                            <td>Paid Off</td>
                                            <td class='td-right'><span id='dollarSign'>$</span><div class='table-number' id="paidOff">
                                                <% var variance = 0 %>
                                                <% var percentage = 0 %>
                                                <% startingDebt.forEach(function(startingDebt){ %>
                                                <% if(currentUser.username === startingDebt.author.username){ %>
                                                    <% var variance = startingDebt.amount - totalDebts %>
                                                    <%= variance.toFixed(2) %>
                                                    <% percentage = (variance/startingDebt.amount * 100).toFixed(2) %>
                                                <% } else { %>
                                                <% variance = 0.00 %>
                                                    <%= variance.toFixed(2) %>
                                               <% } %>
                                            <% }) %></div></td>
                                        </tr>
                                        <tr>
                                            <span id="percentage"><%= percentage %></span>
                                            <td># of Debts Paid Off</td>
                                            <% var numberOfDebts = 0 %>
                                                <% debt.forEach(function(debt){ %>
                                                    <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.amount === 0.00){ %>
                                                    <% numberOfDebts = numberOfDebts +1 %>
                                                    <% } %>
                                                    <% }) %>
                                            <td class='td-right'><div class='table-number'><%= numberOfDebts %></div></td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                                <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Debt Balances</strong></div>
                        <table class="table">
                            <tr>
                                <% var totalCredit = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Credit Card"){ %>
                                        <% totalCredit = totalCredit + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='credit'>Credit Cards</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalCredit'><%= totalCredit.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalLoan = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Loan"){ %>
                                        <% totalLoan = totalLoan + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='loan'>Loans</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalLoan'><%= totalLoan.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalSL = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Student Loan"){ %>
                                        <% totalSL = totalSL + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='SL'>Student Loans</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalSL'><%= totalSL.toFixed(2) %></span></td>
                            </tr>                            
                            <tr>
                                <% var totalBill = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Bill"){ %>
                                        <% totalBill = totalBill + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='bill'>Bills</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalBill'><%= totalBill.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalOther = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Other"){ %>
                                        <% totalOther = totalOther + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><div id='other'>Other</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalOther'><%= totalOther.toFixed(2) %></span></td>
                            </tr>
                        </table>
                    </div></div>
                    </div>  
                    <div class='col-lg-4 col-sm-12' id='mobile-card'>
                        <div class='chiclet'>
                            <div class='panel' id="outerChart">
                                <div class="panel-heading"><strong>Payoff Chart</strong></div>
                                <br>
                                    <div id='chartOutline'>
                                        <div id='chartLine'>
                                            <div id='percent'></div>
                                        <div id='chart'>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <% include ./partials/footer %>

    </div>

<script type="text/javascript" src='/js/dashboard.js'></script>


