<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/dashboard.css">





<!-- CALCULATIONS -->
    <% var income = 0%>
        <% monthlyIncome.forEach(function(monthlyIncome){ %>
        <% if(currentUser.username === monthlyIncome.author.username){ %>
        <% income = income + monthlyIncome.amount %>
        <% } %>
        <% }) %>
    <% var balance = 0 %>
    <% accountBalance.forEach(function(accountBalance){ %>
        <% if(currentUser.username === accountBalance.author.username){ %>
        <% balance = balance + accountBalance.amount %>
        <% } %>
        <% }) %>
    <% var totalBills = 0 %>
    <% bills.forEach(function(bill){ %>
        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
        <% totalBills = totalBills + bill.amountDue %>
        <% } %>
        <% }) %>
    <% var totalDebts = 0 %>
    <% debt.forEach(function(debt){ %>
        <% if(currentUser.username === debt.author.username  || currentUser.username === debt.authUser){ %>
        <% totalDebts = totalDebts + debt.amount %>
        <% } %>
        <% }) %>
    <% IncomeExpenseOffset = income - totalBills %>    
    <% var variance = 0 %>
        <% var percentage = 0 %>
            <% startingDebt.forEach(function(startingDebt){ %>
            <% if(currentUser.username === startingDebt.author.username){ %>
                <% variance = startingDebt.amount - totalDebts %>
                <% percentage = (variance/startingDebt.amount * 100).toFixed(2) %>
            <% } %>
    <% }) %>
<!-- END CALCULATIONS -->

<div id='page-content'>

<!-- LEFT MENU -->
    <div class='col-lg-2'></div>
    <div id='menu'>
        <div class='header'>Tools</div>
        <a href='/dashboard' class='btn btn-primary btn-sm menu-button' id='dashboard'>Dashboard</a><br>
        <button class='btn btn-primary btn-sm menu-button' id='expense'>Expense Tracker</button><br>
        <button class='btn btn-primary btn-sm menu-button' id='debt-tracker'>Debt Tracker</button><br>
        <button class='btn btn-primary btn-sm menu-button' id='debt-snowball'>Debt Snowball</button><br>
        <!--<button class='btn btn-primary btn-sm menu-button' id='budget'>Budget</button><br>-->
        <br>
        <div class='header'>Favorite Sites<a href="/favorites/new" class='pull-right' id='hiddenButton' data-toggle="modal" data-target="#addFavorite">Add</a></div>
        
        <% favorites.forEach(function(favorites){ %>
                        <% if(currentUser.username === favorites.author.username){ %>
                            <a href='<%= favorites.website %>' target='_blank'><button class='favorite-button'><%= favorites.label %></button></a><br>
                        <% } %>
                    <% }) %>
    </div>
<!-- END LEFT MENU -->

    <div class='col-lg-10' id='main-page-section'>
         <div class='header'>Welcome <%= currentUser.name %></div>

    <div id='main-level'>
            <div class='pull-right main-level-data' id='date'><span></span></div>
    </div>
<!-- DASHBOARD DATA -->


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#sortable" ).sortable();
$( "#sortable" ).disableSelection();
} );
</script>
  
<ul class='dashboard-data' id='sortable'>
    
    <li class='dashboard-card' draggable='true'>
        <div class='dashboard-card-number'>
            $<%= income.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
        <% monthlyIncome.forEach(function(monthlyIncome){ %>
            <a href='/monthlyIncome/<%= monthlyIncome._id %>/edit' class='link'>Total Monthly Income</a>
        <% }) %>
        </div>
    </li>


    <li class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= totalBills.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Monthly Expenses
        </div>
    </li>
    
        
    <li class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= IncomeExpenseOffset.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Difference
        </div>
    </li>

    <li class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= totalDebts.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Debt Remaining
        </div>
    </li>    

  
    <li class='dashboard-card'>
        <div class='dashboard-card-number'>
            $<%= variance.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            Paid Off
        </div>
    </li>    

    <li class='dashboard-card'>
        <div class='dashboard-card-number'>
            <%= percentage %>%
        </div>
        <hr class='dashboard-card-hr'>
        <div class='dashboard-card-text'>
            % Paid Off
        </div>
    </li>
</ul>

<!-- END DASHBOARD DATA -->

<div class="modal fade" id="addFavorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

<script src="/js/dashboard.js"></script>

