<% include ./partials/header %>

<div class='container'>
    <div class='col-lg-12 col-md-12'>
        <h1 id='welcome'>Bill Allocator</h1>
    <p></p>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-lg-3 col-md-12'>
            <form>
                <h4>Bank Account Balance:</h4> <input class='form-control' type='number' id="balance" name='balance' value='0.00' min='0.00' step='0.01'>
            </form>
        </div>
        <div class="btn-group pull-right" role="group" id='group' aria-label="...">
            <button type="button" id='one' class="btn btn-default btn-sm">1st Half</button>
            <button type="button" id='full' class="btn btn-default btn-sm">Full Month</button>
            <button type="button" id='two' class="btn btn-default btn-sm">2nd Half</button>
        </div>
    </div>
</div>
<br>

<div class='container'>
    <div class='row'>
        <div class='col-lg-3 col-md-12'>
            <div class='chiclet'>
                <div class="panel panel-default panel-default">
                    <div class="panel-heading"><strong>Snapshot</strong></div>
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>Balance</td>
                                <td>$ <span id='accountBalance'>0.00</span></td>
                            </tr>
                            <tr>
                                <td>Bills</td>
                                <td>$ <span id="totalBill">0.00</span></td>
                            </tr>                          
                            <tr>
                                <td>Remaining</td>
                                <td>$ <span id="remaining">0.00</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <a href='http://www.bankofamerica.com' target="_blank" class="secondary-link">Go to Bankofamerica.com</a>    
            </div>
            <div class='col-lg-9 col-md-12'>
                <div class='chiclet'>
                    <div class="panel panel-default panel-danger">
                        <div class="panel-heading"><strong>Bills</strong>
                            <a href="/bills/new" class='btn btn-primary btn-xs pull-right' id='hiddenButton'><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                        </div>
                            <table class="table" id="bills">
                                <thead>
                                    <tr>
                                        <th onclick='sortTable(0)' id='due'>Due Date</th>
                                        <th id='payee'>Payee</th>
                                        <th id='amount'>Amount Due</th>
                                        <th id='auto'>Auto Pay</th>
                                        <th id='billWebsite'>Website</th>
                                        <th id='statusdd'>Status</th>
                                        <th id='trash'></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% bills.forEach(function(bill){ %>
                                    <tr>
                                        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
                                            <td id='due'><%= bill.dueDate %></td>
                                            <td id='payee'><a href="/bills/<%= bill._id %>/edit"><%= bill.payee %></a></td>
                                            <td id='amount'><span class='a'><%= bill.amountDue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                                            <td id='auto'><%= bill.autoPay %></td>
                                            <td id='billWebsite'><a href="<%= bill.website %>" target="_blank" class="btn btn-primary btn-xs">Pay Bill</a></td>
                                            <td id='statusdd'>
                                                 <select class='form-control' id='status' name="status">
                                                    <option value="unpaid">Unpaid</option>
                                                    <option value="paid">Paid</option>
                                                    <option value="leave">Leave</option>
                                                    <option value="move">Move</option>
                                                    <option value="remove">Remove</option>
                                                </select>
                                            </td>
                                            <td><span id='delete'><form action="/bills/<%= bill._id %>?_method=DELETE" method="POST" class="delete-form">
                                               <button id='deleteButton'><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                                            </form></span>
                                            </td>
                                        <% } %>
                                    <% }) %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<script type="text/javascript" src='/js/bills.js'></script>
<% include ./partials/footer %>