<% include ./partials/header %>

<style>
    @media screen and (max-width: 640px) {
        body {
        overflow-x: hidden;
        }
    }
</style>
<%
   %>
  
<div id='paMobileHeader'>
<div class='container'>
        <h3 id='welcome'></h3><div class='pull-right' id='date'></div>
        <h1 id='welcome'>Debt Tracker</h1>
        <hr>
    </div>
</div>

<div class='container'>
    <div class='row' id='mobile-card'>
        <div class='col-lg-3 col-sm-12'>
        </div>
    </div>
</div>
<br>
<div class='container'>

    


<!--<div class='row'>-->
<div class='col-lg-3 col-sm-12' id='mobile-card'>
    <div class='chiclet'>
        <div class="panel panel-default panel-default">
            <div class="panel-heading"><strong>Debt Snapshot</strong>
                <a href="/startingDebt/new" class='pull-right' id='hiddenButton' data-toggle="modal" data-target="#addstartingDebt">Add Starting Debt</a>
            </div>
                <table class="table">
                    <tr>
                        <td>Starting Debt</td>
                            <td class='td-right'>
                                
                                    <% var totalDebt = 0 %>
                                    <% startingDebt.forEach(function(startingDebt){ %>
                                    <% if(currentUser.username === startingDebt.author.username){ %>
                                    <span id='dollarSign'>$</span>
                                <span class='table-number'>
                                    <% totalDebt = totalDebt + startingDebt.amount %>
                                    <a href="/startingDebt/<%= startingDebt._id %>/edit" data-toggle="modal" data-target="#editstartingDebt" id='startingBalance'><%= totalDebt.toFixed(2) %></a>
                                    <% } %>
                                    <% }) %>
                                </span>
                            </td>
                    </tr>
                    <tr>
                        <td>Total Debt</td>
                        <td class='td-right'><span id='dollarSign'>$</span><div class='table-number' id="totalDebt">0.00</div></td>
                    </tr>  
                    <tr>
                        <td>Paid Off</td>
                        <td class='td-right'><span id='dollarSign'>$</span><div class='table-number' id="paidOff">0.00</div></td>
                    </tr>
                    <tr>
                        <td> % Paid Off</td>
                        <td class='td-right'><span id="%paidOff">0.00</span> %</td>
                    </tr>
                </table>
            </div>
        </div>
                    <div class='chiclet'>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Balances</strong></div>
                        <table class="table">
                            <tr>
                                <% var totalCredit = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Credit Card"){ %>
                                        <% totalCredit = totalCredit + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><a href="#" id='credit'>Credit Cards</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalCredit'><%= totalCredit.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalLoan = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Loan"){ %>
                                        <% totalLoan = totalLoan + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><a href="#" id='loan'>Loans</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalLoan'><%= totalLoan.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalSL = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Student Loan"){ %>
                                        <% totalSL = totalSL + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><a href="#" id='SL'>Student Loans</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalSL'><%= totalSL.toFixed(2) %></span></td>
                            </tr>                            
                            <tr>
                                <% var totalBill = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Bill"){ %>
                                        <% totalBill = totalBill + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><a href="#" id='bill'>Bills</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalBill'><%= totalBill.toFixed(2) %></span></td>
                            </tr>
                            <tr>
                                <% var totalOther = 0 %>
                                <% debt.forEach(function(debt){ %>
                                        <% if((currentUser.username === debt.author.username  || currentUser.username === debt.authUser) && debt.type === "Other"){ %>
                                        <% totalOther = totalOther + debt.amount %>
                                        <% } %>
                                        <% }) %>
                                <td><a href="#" id='other'>Other</a></td>
                                <td class='td-right'><span id='dollarSign'>$</span><span class='table-number' id='totalOther'><%= totalOther.toFixed(2) %></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            <div class='panel' id="outerChart">
                <div class="panel-heading"><strong>Payoff Chart</strong></div>
                <br>
                    <div id='chartOutline'>
                        <div id='chartLine'><div id='percent'></div>
                            <div id='chart'>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>


<div class='col-lg-9 col-sm-12' id='mobile-card'>


<div class='chiclet'>
    <div class="panel panel-default panel-danger">
        <div class="panel-heading"><strong>Debts</strong>
            <a href="/debt/new" class='pull-right' id='hiddenButton' data-toggle="modal" data-target="#addDebt">Add Debt</a></div>
        </div>
            <table class="table sortable" id="debts">
                <thead>
                    <tr>
                        <th id='payeeDebt'>Payee</th>
                        <th id='type'>Type</th>
                        <th id='amount'>Amount</th>
                        <th id='interestRate'>%</th>
                        <th id='monthlyPayment'>Payment</th>
                        <th id='website'>Website</th>
                        <th id='trash'></th>
                    </tr>
                </thead>
                <tbody>
                    <% debt.forEach(function(debt){ %>
                        <% if(debt.amount > 0){ %>
                        <tr>
                            <% if(currentUser.username === debt.author.username){ %>
                                <td id='payeeDebt'>
                                    <a href="/debt/<%= debt._id %>/edit" data-toggle="modal" data-target="#editDebt"><%= debt.itemLabel %></a></span></td>
                                <td id='type'><%= debt.type %></td>
                                <td id='amount'><span class='b'><%= debt.amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %></span></td>
                                <td id='interestRate'><%= debt.interestRate.toFixed(3)%>%</td>
                                <td id='monthlyPayment'><%= debt.monthlyPayment.toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %></td>
                                <td id='website'><a href="<%= debt.website %>" target="_blank" class="btn btn-primary btn-xs" id='goButton'>Go</a></td>
                                <td id='delete'>
                                <form action="/debt/<%= debt._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button id='deleteButton'><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                                </form>
                                </td>
                            <% } %>
                        <% } %>
                    <% }) %>
                    </tr>
                </tbody>
            </table>
        </div>


<div class='chiclet main-table' id='paid-off'>
    <div class="panel panel-default panel-danger">
        <div class="panel-heading"><strong>Paid Off Debts</strong>
        </div>
            <table class="table" id="paid-off-debts">
                <thead>
                    <tr>
                        <th id='payeeDebt'>Payee</th>
                        <th id='type'>Type</th>
                        <th id='amount'>Amount</th>
                        <th id='interestRate'>%</th>
                        <th id='monthlyPayment'>Payment</th>
                        <th id='website'>Website</th>
                        <th id='trash'></th>
                    </tr>
                </thead>
                <tbody>
                    <% debt.forEach(function(debt){ %>
                    <tr>
                        <% if(currentUser.username === debt.author.username && debt.amount < 1){ %>
                            <td id='payee'>
                                <a href="/debt/<%= debt._id %>/edit" data-toggle="modal" data-target="#editDebt"><%= debt.itemLabel %></a></span></td>
                            <td id='type'><%= debt.type %></td>
                            <td id='amount'><span class='b'><%= debt.amount.toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %></span></td>
                            <td id='interestRate'><%= debt.interestRate.toFixed(3)%>%</td>
                            <td id='monthlyPayment'><%= debt.monthlyPayment.toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %></td>
                            <td id='website'><a href="<%= debt.website %>" target="_blank" class="btn btn-primary btn-xs" id='goButton'>Go</a></td>
                            <td>
                            <form action="/debt/<%= debt._id %>?_method=DELETE" method="POST" class="delete-form">
                                <button id='deleteButton'><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                            </form>
                            </td>
                        <% } %>
                    <% }) %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




</div>
</div>

<table><tbody id='months'>
<tbody id='orMonths'></table>


<% include ./partials/footer %>

<!--NEW MODAL-->

<div class="modal fade" id="addDebt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<div class="modal fade" id="addstartingDebt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="editDebt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<div class="modal fade" id="editstartingDebt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>
</div>

<script type="text/javascript" src='/js/debt.js'>
</script>
