<!-- HEADER -->
    <div>
         <div class='header'>Monthly Expense Tracker</div>
    <div id='main-level'>
        <div class='pull-right main-level-data' id='date'></div>
    </div>
<!-- END HEADER -->

<!-- DASHBOARD DATA -->

<br>

<div id='main-page-section'>
    
       <div class='col-lg-9 col-sm-12' id='mobile-card'>
        <div id='main-table'>
            <div class="table-header">
                <a href="/bills/new" class='pull-right' id='hiddenButton' data-toggle="modal" data-target="#addItem">Add Expense</a>
            </div>
       
            <table class="table sortable" id="bills">
                <thead>
                    <tr>
                        <th id='color'></th>
                        <th id='due'>Due Date</th>
                        <th id='payee'>Payee</th>
                        <th id='type'>Type</th>
                        <th id='amount'>Amount Due</th>
                        <th id='auto'>Auto Pay</th>
                        <th id='statusdd'>Status</th>
                        <th id='billWebsite'>Website</th>
                        <th id='trash'></th>
                    </tr>
                </thead>
                <tbody id='billBody'>
                    <% bills.forEach(function(bill){ %>
                        <% if(currentUser.username === bill.author.username  || currentUser.username === bill.authUser){ %>
                            <tr class ='table-card'>
                                <td id='color'></td>
                                <td id='due'><%= bill.dueDate %></td>
                                <td id='payee'><a href="/bills/<%= bill._id %>/edit"data-toggle="modal" data-target="#editItem"><%= bill.payee %></a></td>
                                <td id='type'><%= bill.type %></td>
                                <td id='amount'><span class='a'><%= bill.amountDue.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></span></td>
                                <td id='auto'><%= bill.autoPay %></td>
                                <td id='statusdd'>
                                     <select class='form-control' id='status' name="status">
                                        <option value="unpaid">Unpaid</option>
                                        <option value="paid">Paid</option>
                                        <option value="leave">Leave</option>
                                        <option value="move">Move</option>
                                        <option value="remove">Remove</option>
                                    </select>
                                </td>
                                <td id='billWebsite'><a href="<%= bill.website %>" target="_blank" class="btn btn-primary btn-xs payBillbtn">Go</a></td>
                                <td id='delete'>
                                    <form action="/bills/<%= bill._id %>?_method=DELETE" method="POST" class="delete-form">
                                       <button id='deleteButton'><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
            <div id='emptyMessage'></div>
        </div>
    </div>
    <div class='col-lg-3 col-sm-12' id='mobile-card'>
        <div class='card' id='snapshot'>
            <div class="panel">
                <div class="panel-heading" id='db-panel-head'><strong>Snapshot</strong>
                <a href="/accountBalance/new" class='pull-right' id='show' data-toggle="modal" data-target="#addaccountBalance">Add Balance</a><hr class='hr-th'></div>
                    <table class="table">
                        <tr>
                            <td class='left-column-3'>Balance</td>
                            <td class='mid-column-3'>$</td>
                            <% accountBalance.forEach(function(accountBalance){ %>
                                <% if(currentUser.username === accountBalance.author.username){ %>
                                <td class='right-column-3'><div class='table-number'>
                                <a href="/accountBalance/<%= accountBalance._id %>/edit" data-toggle="modal" data-target="#edit" id='accountBalance'><%= accountBalance.amount.toFixed(2) %></a>
                                <% } %>
                                <% }) %>
                            </div></td>
                        </tr>
                        <tr>
                            <td class='left-column-3'>Bills</td>
                            <td class='mid-column-3'>$</td>
                            <td class='right-column-3'><div class='table-number' id="totalBill">0.00</div></td>
                        </tr>                          
                        <tr>
                            <td class='left-column-3'>Remaining</td>
                            <td class='mid-column-3'>$</td>
                            <td class='right-column-3'><div class='table-number' id="remaining">0.00</div></td>
                        </tr>
                </table>
                
            </div>
            <div id='mobile-card'>
        <div class="btn-group" id='group' role="group" id='group' aria-label="...">
            <button type="button" id='one' class="btn btn-primary btn-sm">1st Half</button>
            <button type="button" id='full' class="btn btn-primary btn-sm">Full Month</button>
            <button type="button" id='two' class="btn btn-primary btn-sm">2nd Half</button>
        </div>
    </div>
        </div>
        
            
                    
        <div class='card'>
            <div class="panel">
                <div class="panel-heading" id='db-panel-head'><strong>Totals By Type</strong><hr class='hr-th'></div>
                <table class="table" id='totalsByType'>
                    <tr>
                        <% var totalCredit = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Credit Card"){ %>
                                <% totalCredit = totalCredit + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:red'></td>
                        <td><a class='indent' href="#" id='credit'>Credit Card</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalCredit'><%= totalCredit.toFixed(2) %></span></td>
                    </tr>
                    <tr>
                        <% var totalSL = 0 %>
                        <% bills.forEach(function(bill){ %>
                            
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Student Loan"){ %>
                                <% totalSL = totalSL + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:yellow'></td>
                        <td><a class='indent' href="#" id='studentLoan'>Student Loan</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalSL'><%= totalSL.toFixed(2) %></span></td>
                    </tr>
                    <tr>
                        <% var totalLoan = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Loan"){ %>
                                <% totalLoan = totalLoan + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:orange'></td>
                        <td><a class='indent'href="#" id='loan'>Loan</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalLoan'><%= totalLoan.toFixed(2) %></span></td>
                    </tr>
                    <tr>
                        <% var totalUtility = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Utility"){ %>
                                <% totalUtility = totalUtility + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:LawnGreen'></td>
                        <td><a class='indent' href="#" id='utility'>Utility</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalUtility'><%= totalUtility.toFixed(2) %></span></td>
                    </tr>                             
                    <tr>
                        <% var totalHousehold = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Household"){ %>
                                <% totalHousehold = totalHousehold + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:blue'></td>
                        <td><a class='indent' href="#" id='household'>Household</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalUtility'><%= totalHousehold.toFixed(2) %></span></td>
                    </tr>                             
                    <tr>
                        <% var totalMembership = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Membership"){ %>
                                <% totalMembership = totalMembership + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:purple'></td>
                        <td class='indent'><a href="#" id='membership'>Membership</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalUtility'><%= totalMembership.toFixed(2) %></span></td>
                    </tr>                             
                    <tr>
                        <% var totalOnetime = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "One Time"){ %>
                                <% totalOnetime = totalOnetime + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:midnightblue'></td>
                        <td><a class='indent' href="#" id='onetime'>One Time</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalUtility'><%= totalOnetime.toFixed(2) %></span></td>
                    </tr> 
                    <tr>
                        <% var totalOther = 0 %>
                        <% bills.forEach(function(bill){ %>
                                <% if((currentUser.username === bill.author.username  || currentUser.username === bill.authUser) && bill.type === "Other"){ %>
                                <% totalOther = totalOther + bill.amountDue %>
                                <% } %>
                                <% }) %>
                        <td id='color' style='background-Color:deeppink'></td>
                        <td><a class='indent' href="#" id='other'>Other</a></td>
                        <td id="dollarSign">$</td>
                        <td class='td-right'><span class='table-number' id='totalOther'><%= totalOther.toFixed(2) %></span></td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
            
 
</div>

<script>
    function UpdateCount(tableID, message, colCount) {
    var rowCount = $('#' + tableID + ' tr').length;
    if (rowCount < 3) {
    document.getElementById(message).innerHTML = "<td colspan='8'><span><br><div class='alert alert-info' role='alert'>Click 'Add Expense' in the top right hand corner to get started</div></span></td> ";
  } 
}

UpdateCount('bills', 'emptyMessage', 6)
</script>
<script type="text/javascript" src='/js/bills.js'></script>

<% include ./partials/footer %>

<!--NEW MODAL-->

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

<div class="modal fade" id="addaccountBalance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div>

