<!-- HEADER -->
    <div>
         <div class='header'>Debt Snowball</div>
    <div id='main-level'>
        <div class='pull-right main-level-data' id='date'></div>
    </div>
<!-- END HEADER -->


<div class='container'>
    <div class='row' id='mobile-card'>
        <div class='col-lg-3 col-sm-12'>
        </div>
    </div>
</div>
<br>
<% var z = 0 %>
<div class='container'>
    <div id='snowballInfo'>
    <span class='infoTitle'>Number of Months to Payoff Debt:</span><span id='totalMonths' class='pull-right'></span><br>
    <span class ='infoTitle'>Debts Remaining:</span> <span id='debtsRemaining' class='pull-right'></span><br>
    <span class ='infoTitle'>Payoff Date:</span><span id='payoff-date' class='pull-right'></span><br>
    <span class ='infoTitle'>Extra Monthly Payment:</span><a href="/extraAmount/new" class='pull-right no-top' id='hiddenButton' data-toggle="modal" data-target="#addextraPayment"><div id='emp'>Add Extra Monthly Payment</div></a>
    <% extraAmount.forEach(function(extraAmount){
        if(currentUser.username === extraAmount.author.username){ %>
            <script>document.getElementById('emp').innerHTML= ""</script>
            <% if (extraAmount.amount > 0){ %>
                <span class='pull-right'><a href="/extraAmount/<%= extraAmount._id %>/edit" data-toggle="modal" data-target="#editextraPayment"> Edit</a>  $ <%= extraAmount.amount.toFixed(2) %>
                <% z = extraAmount.amount.toFixed(2) %>
            <% } else { %>
                <span class='pull-right'>$ <%= extraAmount.amount %><a href="/extraAmount/<%= extraAmount._id %>/edit" class='pull-right' data-toggle="modal" data-target="#editextraPayment"> Edit</a></span>
                <% z = extraAmount.amount %>
            <% } } } ) %>
    </div>
    
    <% extraPayment = Number(z) %>

    <div id='snowball'><%
        var i = 0
        var f = 0
        var c = 0
        var u = 0
        var q = 0
        var k = 0
        var o = 0
        var r = a
        var add = 0
        var year = 0
        var ray = new Array();
        var prevPay = new Array();
        var remainder = new Array();
        var paymentLength = new Array();
        var prevMin = [0];
        var payMonths = 0;
        
        debt.forEach(function(debt){
            if(debt.amount > 0){
                if(currentUser.username === debt.author.username){
                    i++
                }
            }
        }) %>
        <script>document.getElementById('debtsRemaining').innerHTML = <%= i %></script>
            <table id = 'wholeTable'><%
                var a = [];
                var interestA = 0;
                debt.forEach(function(debt){
                    if(debt.amount > 0 && currentUser.username === debt.author.username){
                        a.push({
                            amount: debt.amount, 
                            label: debt.itemLabel,
                            interest: debt.interestRate,
                            minimum: debt.monthlyPayment
                        });
                    }
                })
                a.sort(function(a, b){
                    return a.amount == b.amount ? 0 : +(a.amount > b.amount) || -1;
                    }); %>

                       <% if(a.length == 0) { %> 
                        <span><br>
                            <div class="alert alert-info" role="alert">
                            To see your debt snowball, add all of your debts to the <a href='/debt'>debt tracker</a>
                            </div>
                        </span> 
                        <% } else { %>
                        <hr id='align'>
                        <tr>
                        <table class='test'>
                            <table class='snowball'>
                                    <th class='snowball-header snowball-head'>
                                        Payoff Months
                                    </th>
                        <% } %>
                            
                        </tr>  
                        <tbody id='months'>
                        </tbody>
                    </table>
                    <% for(x = 0; x < a.length; x++){ %>

                    <table class='snowball'>
                        <tr>
                            <th class='snowball-header snowball-head'>
                                <%= a[x].label.substring(0, 30) + "..."; %>
                            </th>
                        </tr>  
                        <tr>
                            <td class='sub-head'>
                                $<%= a[x].amount.toFixed(2) %>
                            </td>
                        </tr>                         
                        <tr>
                            <td class='sub-head'>
                                $<%= a[x].minimum.toFixed(2) %>
                            </td>
                        </tr>                        
                        <tr>
                            <td class='sub-head'>
                                <%= a[x].interest.toFixed(2) %>%
                            </td>
                        </tr>                        
                           
                            <% var b = Number(a[x].amount),
                               debtAmount = Number(b.toFixed(2)),
                               paymentAmount = Number(a[x].minimum),
                               interestRate = a[x].interest * .01,
                               numberOfPayments = 12;

                            function getSum(total, num) {
                              return total + num;
                            }

                            function snowballCalculate(){
                                add = remainder[remainder.length - 1];
                                var w = Number(add)
                                for(var p = 0; (p/100) < debtAmount.toFixed(2); p++){ %><tr><td class = 'snowballTD'><%
                                if (interestRate > 0){
                                    calcInterest = (debtAmount * (interestRate/365)) * 30;
                                    var interestA = calcInterest;
                                } else {
                                    var interestA = 0;
                                }
                                    var oldRay = ray[ray.length - 1] - 1;
                                    if ((oldRay >= p) && debtAmount >= paymentAmount){ 
                                        var n = prevMin[prevMin.length - 2]
                                        if (oldRay > p){
                                            debtAmount = (debtAmount + interestA) - paymentAmount%>
                                            $<%= paymentAmount.toFixed(2) %><% 
                                        } else if (oldRay = p && (paymentAmount + n + w) > debtAmount) {
                                            q = (paymentAmount + extraPayment -u) - (debtAmount + interestA);
                                            remainder.push(q.toFixed(2));
                                            prevPay.push(paymentAmount);
                                            u = prevPay.reduce(getSum)
                                            prevMin.push(u)    
                                            paymentAmount = debtAmount + interestA; 
                                            debtAmount = (debtAmount + interestA) - paymentAmount%>
                                            $<%= paymentAmount.toFixed(2) %><%
                                        } else if ((p == 0) && (paymentAmount + n + w) > debtAmount) {
                                            q = (paymentAmount + extraPayment -u) - (debtAmount + interestA);
                                            remainder.push(q.toFixed(2));
                                            prevPay.push(paymentAmount);
                                            u = prevPay.reduce(getSum)
                                            prevMin.push(u)    
                                            paymentAmount = debtAmount + interestA; 
                                            debtAmount = (debtAmount + interestA) - paymentAmount%>
                                            $<%= paymentAmount.toFixed(2) %><%
                                        } else {
                                            o = w + n + paymentAmount
                                            debtAmount = (debtAmount + interestA) - o %>
                                            $<%= o.toFixed(2) %><%
                                        }
                                    } else if ((oldRay < p || Number.isNaN(oldRay) == true) && debtAmount > paymentAmount && (paymentAmount * 2) < debtAmount && (debtAmount - (paymentAmount + extraPayment + prevMin[prevMin.length - 1])) > 0){
                                        var d = paymentAmount + extraPayment + prevMin[prevMin.length - 1]
                                        debtAmount = (debtAmount + interestA) - d %>
                                        $<%= d.toFixed(2) %><%
                                    } else if ((oldRay < p  || Number.isNaN(oldRay) == true) && debtAmount > paymentAmount && (debtAmount - (paymentAmount + extraPayment + prevMin[prevMin.length - 1])) > 0){ 
				                        var j = paymentAmount + extraPayment + prevMin[prevMin.length - 1]
                                        debtAmount = (debtAmount + interestA) - j %>
                                        $<%= j.toFixed(2) %><%
                                    } else { 
				                        q = (paymentAmount + extraPayment) - (debtAmount + interestA);
                                        remainder.push(q.toFixed(2));
                                        prevPay.push(paymentAmount);
                                        u = prevPay.reduce(getSum)
                                        prevMin.push(u)
                                        paymentAmount = debtAmount + interestA; 
                                        debtAmount = (debtAmount + interestA) - paymentAmount %>
                                        $<%= paymentAmount.toFixed(2) %><%
                                    }
                                } ray.push(p); paymentLength.push(p);
                             } snowballCalculate(); %>
                        </tr>
                    </table>
                <% } %><% var payMonths = Math.max.apply( Math, paymentLength ) %>
                <table class='snowball' style="display: none;">
                <tr>
                            <th class='snowball-header snowball-head'>
                                Payoff
                            </th>
                        </tr>  
                        <tr>
                            <td class = 'snowball-head'>
                               Calendar
                            </td>
                        </tr>                           
                        <tr>
                            <td  class='snowball-head' id='head'>
                                By Month
                            </td>
                        </tr>
                        <tbody id='orMonths'> <%
                        var month = new Array();
                            month[0] = "Jan";
                            month[1] = "Feb";
                            month[2] = "Mar";
                            month[3] = "Apr";
                            month[4] = "May";
                            month[5] = "Jun";
                            month[6] = "Jul";
                            month[7] = "Aug";
                            month[8] = "Sep";
                            month[9] = "Oct";
                            month[10] = "Nov";
                            month[11] = "Dec";
                            
                        function months() {
                            var d = new Date();
                            r = month[d.getMonth()]; 
                            year = 1900 + d.getYear();
                        }
                            
                        months();
                        %> 
                        <% if(a.length == 0) {
                           
                        } else { %>
                            <tr><td class='sub-head'>Remaining Debt</td></tr>
                            <tr><td class='sub-head'>Minimum Payment</td></tr>
                            <tr><td class='sub-head'>Interest Rate</td></tr>
                        <% } %>
                        <%
                        var a = month.indexOf(r)
                        var z = payMonths 
                        var t
                        for(i = 0; i < z; i++){ 
                            
                            if(month[a%month.length] === "Jan"){
                                year = year + 1 %>
                                <tr><td><%= month[a%month.length] %> <%= year %></td></tr>
                            <% } else { %>
                                <% t = (month[a%month.length] + " " + year) %></td></tr>
                                <tr><td><%= t %></td></tr>
                            <% } a++;
                        } %>                             
                        <script>
                            if (<%= z %> < 0) {
                            document.getElementById('totalMonths').innerHTML = 0
                            } else {
                            document.getElementById('totalMonths').innerHTML = <%= z %>
                            }
                            </script>
                        <script>document.getElementById('payoff-date').innerHTML = "<%= t %>"</script>
                </tbody>
            </table>
        </table>
    </div>
</div>
</div></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>

<script type="text/javascript" src='/js/debt.js'></script>

<div class="modal fade" id="addextraPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

<div class="modal fade bg-dark" id="editextraPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body"></div>
    </div>
</div></div>

