<% include ../partials/header %>

<div class='container'>
    <h1><%= bill.payee %></h1> 
    <p>Type: <%= bill.type %>
    <p>Amount Due: $<%= bill.amountDue %>
    <p>Due Date: <%= bill.dueDate %>
    <p>Auto Pay: <%= bill.autoPay %>
    <p>Website: <%= bill.website %>
    <p>Added by: <%= bill.author.username %></p>
    <p><a href="/bills/<%= bill._id %>/edit" class='btn btn-xs btn-primary'>Edit</a>
    <form action="/bills/<%= bill._id %>?_method=DELETE" method="POST" class="delete-form">
        <button class='btn btn-xs btn-danger'>Delete</button>
    </form>
</div>


